<div class="row" style="padding-top: 20px;">
    <div class="col-md-3 text-center">
        <button type="button" class="btn btn-lg" ng-click="ctrl.openChangePasswordModal()" style="background-color: #045C90; color: #ffffff">
            Change password
        </button>
    </div>
    <div class="col-md-3 text-center">
        <button type="button" class="btn btn-lg" ng-click="ctrl.openAddClientModal()" style="background-color: #045C90; color: #ffffff">
            Add client
        </button>
    </div>
    <div class="col-md-3 text-center">
        <button type="button" class="btn btn-lg" ng-click="ctrl.openResetClientSecretModal()" style="background-color: #045C90; color: #ffffff">
            Reset client secret
        </button>
    </div>
    <div class="col-md-3 text-center">
        <a href="#!/myAccount/myClients" class="btn btn-lg" style="background-color: #045C90; color: #ffffff">
            My Clients
        </a>
    </div>
</div>