<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="infoModal">Info</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                {{ctrl.message}}
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="ctrl.close()">Close</button>
        <button type="button" class="btn btn-success" ng-click="ctrl.ok()">Ok</button>
    </div>
</div>